<h1>Welcome to Stupid Coaching</h1>

<div class="speech">
  <div class="highlight"></div>
  <div class="real-speech">
    <p><%= @question %></p>
    <p><em>- You</em></p>
  </div>
</div>

<div class="speech">
  <div class="highlight"></div>
  <div class="real-speech">
    <p><%= @answer %></p>
    <p><em>- Your Coach</em></p>
  </div>
</div>
