<h1>Welcome to Stupid Coaching</h1>

<form action="/coach" method="GET">
  <label for="coach-input"></label>
  <input type="text" id="coach-input" name="form-input" placeholder="Say something!">
  <input type="submit" value="Tell the Coach">

</form>
