<h1>Welcome to Stupid Coaching</h1>

<form action="/coach" method="GET" style="display:flex;">
  <label for="coach-input">Ask your coach anything:</label>
  <input type="text" id="coach-input" name="form-input" placeholder="Say something!">
  <input id="coach-input-submit" type="submit" value="Tell the Coach">

</form>
